[project]
	description = VLSI Design
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
[access "refs/for/refs/*"]
	read = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	push = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	label-Code-Review = -2..+2 group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	label-Verified = -1..+1 group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	rebase = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	removeReviewer = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	submit = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
[access "refs/heads/*"]
	read = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	create = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	push = +force group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	pushMerge = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
[access "refs/tags/*"]
	push = +force group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	pushTag = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
	pushSignedTag = group user/Vassiliy Tchoumatchenko (vtchoumatchenko)
